/*Webpage, keys, calculator, etc's design.*/

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 189, 189);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 59, 59);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 460px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(87, 87, 87);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    border: none;
    background-color: rgb(119, 119, 119);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer
}

button:hover{
    background-color: rgb(161, 161, 161);

}

button:active{
    background-color: rgb(177, 177, 177);
}

.operator-btn{
    background-color: orange;

}

.operator-btn:hover{
    background-color: rgb(255, 176, 29);
}

.operator-btn:active{
    background-color: rgb(255, 193, 77);
}